@import "tailwindcss";

body{
  background-color: #1E1E1E;
  font-family: var(--font-poppins), sans-serif;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-libre), sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: #F3E1B6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #7B2D0A !important;
}

@media(max-width: 640px){
  .swiper-button-next,
.swiper-button-prev{
  display: none !important;
}
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}