@import "tailwindcss";

body{
  background-color: #1E1E1E;
  font-family: var(--font-poppins), sans-serif;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-libre), sans-serif;
}

/* Body text
body, p, a, span, button {
  font-family: var(--font-body);
} */